body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../img/patron.jpg');
  background-size: cover; /* O puedes probar con 'contain' */
  background-repeat: repeat; /* Ajusta según tus necesidades */
  background-size: 200px 200px; /* Ajusta el tamaño de la imagen de fondo */
  background-position: top left;
}

.container {
  width: 800px;
  margin: 0 auto;
}

fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 150px;
}

.ghost-input,
p {
  display: block;
  font-weight: 400;
  text-align: center;
  width: 100%;
  font-size: 30px;
  border: 0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #45a29b;
  background: #ededed;
  font-family: Open Sans, Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ghost-input:focus {
  border-bottom: 1px solid #ddd;
}

.ghost-button {
  background-color: #212121;
  border: 2px solid #f9f9f9;
  padding: 10px 30px;
  width: 100%;
  min-width: 350px;
  color: #66fcf1; 
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.ghost-button:hover {
  color: #212121; 
  background-color: #66fcf1;
  border: 2px solid #f9f9f9;
}

h1{
  color: #66fcf1;
  text-shadow: 
    2px 2px 0 black,  
    -2px 2px 0 black, 
    2px -2px 0 black, 
    -2px -2px 0 black; 
}

p {
  color: #1f2833;
}

.movie-card {
  display: flex;
  flex-direction: row;  
  align-items: flex-start;  
  justify-content: flex-start; 
  width: 80%;        
  max-width: 500px;  
  padding: 20px;
  background-color: #f9f9f9;
  font-family: 'Open Sans', sans-serif;
  transition: transform 0.2s ease;
  margin: 100px auto 0;  
}

.movie-card:hover {
  transform: scale(1.05);
}

.poster {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
  margin-top: 60px;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

.movie-title {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  color: #212121;
}

.movie-year,
.movie-genre,
.movie-director,
.movie-plot {
  font-size: 14px;
  color: #212121;
  margin: 6px 0;
}

button {
  background-color: #212121;
  color: #f9f9f9;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #66fcf1;
  color: #212121;
}

/* Estilos específicos para el botón "Volver a buscar otra película" */
.return-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #212121;
  background-color: #f9f9f9;
  border: none;
  cursor: pointer;
  text-decoration: none; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.return-button:hover {
  color: #212121;
  background-color: #66fcf1;
}
 
.return-button:active {
  color: #212121;
  background-color: #45a29b;
}
